@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    margin: 0%;
    font-family: 'Oswald', sans-serif;
    background-color: #92E0FF;
}

.carousel-item{
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.icon{
width: 8%;
margin-right: 1em;
margin-top: 5px;
}

.cuadro{
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #000000;
padding: 5px;
width: 100%;

}

.footericon{
    width: 2%;
    margin-right: 1em;
}

.content{
 background-color: #FFFFFF;

}

#title{
    position: absolute;
    z-index: 123;
    top: 50%;
    left: 50%;
   transform:  translate(-50%, -50%);
    color: white;
    background-color: rgba(0,0,0,0.35);
    font-size: 3em;
    padding: 1em;
}

.head{
    position: absolute;
    z-index: 234;
}

.foto{
    border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
}

.element{
    transition: 3s;
}

